# docker-compose.yml

version: '3.8'

services:
  # Servicio 1: El servidor Redis
  redis:
    image: "redis:alpine"
    restart: always

  # Servicio 2: Tu aplicación web (Flask + Gunicorn)
  web:
    build: .  # Construye la imagen usando el Dockerfile local
    restart: always
    command: gunicorn --bind 0.0.0.0:5000 --workers 4 app:app
    ports:
      - "5000:5000"
    environment:
      # Las variables de entorno para conectarse a Redis
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      # LAS OTRAS VARIABLES (SECRETS) SE CONFIGURarán EN DOKPLOY
    depends_on:
      - redis

  # Servicio 3: El worker de Celery
  worker:
    build: . # Usa la misma imagen que el servicio web
    restart: always
    command: celery -A celery_worker.celery worker --loglevel=info
    environment:
      # El worker también necesita saber dónde está Redis
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      # TAMBIÉN NECESITARÁ LOS SECRETS DE DOKPLOY
    depends_on:
      - redis