# nixpacks.toml (VERSIÓN DE DEPURACIÓN)

[phases.setup]
nixPkgs = ["...", "python3", "gcc", "libjpeg", "zlib", "redis"]

[processes]
# Cambiamos el comando de 'web' para que sea más "hablador"
web = "flask run --host=0.0.0.0 --port=5000" 
worker = "celery -A celery_worker.celery worker --loglevel=info"
redis = "redis-server"

[start]
cmd = "redis & web & worker"